<div>
<form action="/create_ship" method="post">
  <input type="text" name="position">
  <!-- </form> -->
 </br>
  <form action="/create_ship" method="post">
    <input type="text" name="orientation">
    </br>
    <button>Submit</button>
</form>
</div>
